:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #eee;
  --heading-color: #292922;
  --bg-secondary: #fff;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --bg-secondary: #212138;
}

a {
  color: var(--font-color);
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 5rem;
  color: var(--font-color);
  background-color: var(--bg-color);
}

* {
  font-weight: normal;
}

article {
  margin: 5rem auto 0rem auto;
  width: 60%;
  height: fit-content;
  background-color: var(--bg-secondary);

  display: flex;
  flex-direction: row;
}

article img {
  height: 14rem;
  width: auto;
}

article h1 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

.aboutBlog {
  padding: 1rem;
}

article h1 span {
  box-shadow: inset 0 -0.3em #3c344457;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author img {
  width: 2rem;
  height: auto;
}

.aboutAuthor * {
  margin: 0;
  margin-left: 1rem;
}

article p {
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  :root {
    font-size: 12px;
  }
  body {
    margin: 0 5%;
  }

  article {
    margin: 5rem auto 0rem auto;
    width: 80%;
    height: fit-content;
    background-color: var(--bg-secondary);

    display: flex;
    flex-direction: column;

    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }

  article p {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
