:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #eee;
  --heading-color: #292922;
  --bg-secondary: #fff;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --bg-secondary: #212138;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 5rem;
  color: var(--font-color);
  background-color: var(--bg-color);
}

* {
  font-weight: normal;
}

article {
  margin: 5rem auto 0rem auto;
  width: 60%;
}

article h1 {
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
}

.textUnderline {
  box-shadow: inset 0 -0.3em #3c344457;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author img {
  width: 3.5rem;
  height: auto;
}

.aboutAuthor * {
  margin: 0;
  margin-left: 1rem;
}

.aboutAuthor h3.service {
  opacity: 75%;
}

hr {
  margin: 3rem 0;
  opacity: 30%;
}

article p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  width: 100%;
}

figcaption {
  margin: 1rem 0;
  font-style: italic;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.socials img {
  width: 3rem;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  :root {
    font-size: 12px;
  }
  body {
    margin: 0 5%;
  }

  article {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-top: 5rem;
  }

  article p {
    font-size: 1.8rem;
  }
  article h3 {
    font-size: 1.5rem;
  }
}
