a {
  color: #303030;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 5rem;
  color: #303030;
  background-color: #eeeeee;
}

* {
  font-weight: normal;
}

article {
  margin: 5rem auto 0rem auto;
  width: 60%;
  height: fit-content;
  background-color: white;

  display: flex;
  flex-direction: row;
}

article img {
  height: 14rem;
  width: auto;
}

article h1 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

.aboutBlog {
  padding: 1rem;
}

article h1 span {
  box-shadow: inset 0 -0.3em #3c344457;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author img {
  width: 2rem;
  height: auto;
}

.aboutAuthor * {
  margin: 0;
  margin-left: 1rem;
}

.aboutAuthor h3.service {
  opacity: 75%;
}

hr {
  margin: 3rem 0;
  opacity: 30%;
  font-size: 1rem;
}

article p {
  font-size: 1rem;
  line-height: 1.5;
}
