:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

.borderLeftRight {
  display: inline-block;
  position: relative;
  color: var(--font-color);
}

.borderLeftRight::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3c3444;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}

nav .logo {
  width: 4rem;
  height: 4rem;
}

nav ul a {
  margin: 1.5rem;
}

nav ul a li {
  list-style: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}

.switch:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 18px;
  background-color: white;
  top: 2px;
  left: 3.5px;
  transition: all 0.3s;
}

input[type="checkbox"]:checked + .switch:after {
  transform: translateX(23px);
}

input[type="checkbox"]:checked + .switch {
  background-color: #3c3444;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #3c3444;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
