@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
    font-family: 'Roboto';
    font-size: 16px;
    color: #c9c9c9;
}

.bar-btns {
    position: static;
    width: 100%;
    z-index: 1;
    background-color: #1f1f1f;
}

.dz-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.dz-logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 17.5%;
    height: auto;
    z-index: 2;
}

.tocont {
    background-color: white;
    width: 97%;
    margin: auto;
    height: .7px;
    position: static;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-size: 3.75vw;
}

left {
    float: left;
    width: 20%;
}

    left a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding-top: 20px;
    }

        left a:hover:not(.active) {
            background-color: #1b1b1b;
        }

right {
    float: right;
    width: 20%;
}

    right a {
        display: block;
        color: white;
        text-align: center;
        padding-top: 20px;
        text-decoration: none;
    }

        right a:hover:not(.active) {
            background-color: #1b1b1b;
        }

.active {
    background-color: #e53838;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #c9c9c9;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #e53838;
}

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

#content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}