* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
    color: e53838;
}

.bar-btns {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #1f1f1f;
}

.dz-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.dz-logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 17.5%;
    height: auto;
    z-index: 2;
}

.tocont {
    background-color: white;
    width: 98%;
    height: .7px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-size: 3.75vw;
}

left {
    float: left;
    width: 20%;
}

left a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
}

left a:hover:not(.active) {
    background-color: #111;
}

right {
    float: right;
    width: 20%;
}

right a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}

right a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #e53838;
}

.nothing {
    width: 100%;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #e53838;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
