* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
}

.bar-btns {
    position: fixed;
    width: 100%;
    background-color: #1f1f1f;
    top: 0;
}

.dz-bar {
    position: fixed;
    width: 100%;
    height: auto;
}

.tocont {
    background-color: white;
    width: 98%;
    height: .7px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-size: 67px;
}

left {
    float: left;
}

left a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 110px;
    padding-left: 50px;
}

left a:hover:not(.active) {
    background-color: #111;
}

right {
    float: right;
}

right a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 110px;
    padding-right: 50px;
    text-decoration: none;
}

right a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}